<!DOCTYPE html>
<html>
<head>
  <title>
    Nuevo Documento
  </title>
</head>
<body>
  <h1>Nuevo Documento</h1>

  <form method='POST' action='/create_document'>

    <p>
      <label>Título:</label><br />
    <input type='text' name='title'> 
    </p>

    <p>
      <label>Tags (Separados por ,):</label><br />
    <input type='text' name='tags'>
    </p>

    <p>
      <label>Descripción</label><br />
      <textarea name='description'></textarea> 
    </p>

    <p>
      <input type='submit' value='Crear' />
    </p>
    
  </form>
</body>
</html>